#version=RHEL8
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=in-eng --xlayouts='in (eng)'
# System language
lang en_IN.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=eth1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw --iscrypted $6$4fjwo9hVbJ.sKpAg$4l3xMcs3u9e9uR.cIMaAZyX6S16itYShp3Hkgf8K8ZEkidDAKaclzfxmfV5NeS/vGdPVsoOOCeXoO4N3qqfJV.
# X Window System configuration information
xconfig  --startxonboot
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=avijit --password=$6$bI2w1mUS81Hu9fbg$2PgQSuKeZLDRK.BgLRMaIp2rLNXc9kzRw7kXQzoZCISguDUzBGce3HMEyMzatyReY1xIL7K.QG5kC78R.O88Z/ --iscrypted --gecos="avijit"

%packages
@^graphical-server-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
